@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@300&family=Dancing+Script:wght@500&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Advent Pro", sans-serif;
    padding: 0;
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}

h2{
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    font-size: 2em;
}

a{
    text-decoration: none;
    color: black;
}

/********************NAVBAR*************/
nav{
    overflow: hidden;
    background-color: #FFFAE1 ;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    top: 0;
}

header li{
    float: right;
    font-size: 1.2em;
}

header li a{
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 18px 16px;
}

#logo{
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    float: left;
}

/*****************IMAGE PRINCIPALE********************/

#imagePrincipale{
    padding-top: 60px;
    background: url("media/main-image.jpg") no-repeat fixed 50% 50%;
    background-size: cover;
    height: 799px;
}

h1{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    color: antiquewhite;
    font-size: 6em;
    margin-top: 100px;
    text-shadow: 1px 3px 2px brown;
}

#firstTrait{
    height: 1px;
    width: 35%;
    margin: -3px auto;
    background-color: #FFFAE1;
}

h3{
    text-align: center;
    color: antiquewhite;
    font-size: 3em;
    text-shadow: 1px 3px 2px brown;
}

/***************PRESENTATION***************/

#presentation{
    background-color: #FFFAE1;
    padding: 10px 0px 100px 0px;
}

#textIntro{
    padding: 0px 20%;

}

#prestation{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 10%;

}

.imagesPrestations h4{
    font-family: 'Dancing Script', cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;

}

.imagesPrestations img{
    border-radius: 10px;
    box-shadow: 5px 5px 3px 1px grey;
    height: 200px ;

}

.imagesPrestations img:hover{
    opacity: 0.5;
    transform: scale(1.05);
    transition: 0.5s ease-in-out;
}

/**********************DECOUVERTE***********/
#tourisme{
    height: 1400px;
    background-color: #f1f2f6;
    padding: 1px 2%;
}

#tourisme h2{
    padding-top: 60px ;
}

#ocean{
    background: url(media/beach.jpg) ;
    background-size: cover;
}

#chateau{
    background: url(media/castle.jpg);
    background-size: cover;
}

#phare{
    background: url(media/lighthouse.jpg);
    background-size: cover;
}

#vigne{
    background: url(media/vineyard.jpg);
    background-size: cover;
}

#tourisme li{
    margin: 65px 100px 0 100px;
    height: 226px;
    width: 55%;
    
    float: left;
    box-shadow: 6px 6px 28px -1px black;
    border-radius: 5px;
}

#tourisme p{
    height: 45px;
    width: 235px;
    background-color: rgb(98, 106, 214);
    float: right;
    margin: 5px -180px 0 0;
    font-size: 1.5em;
    text-align: center;
    padding-top: 15px;
    box-shadow: 4px 4px 0 1px rgb(14, 78, 216);
    color: antiquewhite;
}

#tourisme #chateau, #tourisme #vigne{
    float: right;
}

#chateau p, #vigne p{
    float: left;
    background-color: rgb(126, 221, 126);
    margin-left: -180px;
    box-shadow: 4px 4px 0 1px rgb(84, 168, 77); 
}

/*************FOOTER**********/

footer{
    background-color: burlywood;
    color: #FFFAE1;
    padding: 20px 0 10px 0;
    text-align: center; 
}

form{
    margin: 0 auto;
    max-width: 900px;
}

input, textarea,button{
    border: none;
    width: 55%;
    padding: 15px 10px;
    margin: 1px 0;
    font-size: 1.2em;
    font-family: 'Advent Pro', sans-serif;
    border-radius: 8px;
}

textarea{
    height: 120px;
}

button{
    font-size: 1.5em;
    background-color: rgb(141, 67, 67);
}

button:hover{
    background-color: orangered;
    color: #FFFAE1;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

#secondTrait{
    height: 1px;
    width: 75%;
    background-color: #FFFAE1;
    margin: 60px auto;
}

#copyrightIcons{
    display: flex;
    margin-bottom: 20px;
    padding: 0 10%;
    justify-content: space-between;
}

#copyright{
    width: 50%;
    text-align: left;
    font-size: 1.3em;
}

#icons{
    width: 50%;
    text-align: right;
}

#icons a{
    display: inline-block;
    padding: 0 15px;
    font-size: 1.3em;
    color: #FFFAE1;
}

#icons a:hover{
    transform: scale(2.05);
    transition: 0.2s;
}